@import '../default'

.ndetail-cnt
  width: 900px
  padding-bottom: 20px
  // background-color #eee
  // border-box()

// 表格参数
$table_width = 750px
$line_width = 1px
$line_color = #606266

table 
  width $table_width
  border-right: $line_width solid $line_color;
  border-bottom: $line_width solid $line_color;
td
  // width: 100%
  border-left: $line_width solid $line_color;
  border-top: $line_width solid $line_color;


.ndetail-table
  width $table_width
  margin 0 auto

.ndetail-td-title
  font-size 1.375em
  line-height 66px

.ndetail-td-label
  width 120px
  padding-top 8px
  padding-bottom: 8px
  color #606266
  // background-color red
  font-weight: bold
  // overflow hidden
  word-wrap:break-word;

.ndetail-td-value
  width $table_width - 120px
  text-align: left
  padding 8px
  color #303133
  line-height 30px


.feedback-cnt
  width 900px
  display flex
  margin-top 20px
  justify-content: space-around

.feedback-input
  width 680px
  padding-left 20px
  padding-right 20px
  // background-color red

.feedback-label
  color $color_black
  line-height 30px
  span
    color red

.feedback-btn
  // width 100px
  // background-color blue
  #btn1,#btn2
    margin-top 20px
