@import "../../assets/css/default"

// 以固定宽为900px设计

.apy-form-dashed
  width: 95%
  height 1px
  border-top dashed 1px #ddd
  margin 5px auto
  margin-bottom 24px

.apy-text-normal
  width 445px

.apy-input-normal
  width 360px

.apy-input-medium
  width 240px

.apy-input-mini
  width 150px

.apy-tip
  font-size 18px
  color #999

.apy-pub-input-mini
  width 80px

.apy-pub-form-btn
  margin-left 200px

