// .apy-header
//   width 90%
//   margin 20px auto
//   padding 20px
//   border-bottom solid 1px red
//   font-size 24px

.apy-container
  .el-container
  .el-main
    margin 0
    padding 0




apy_form_width = 550px
.apy-form-container
  width apy_form_width
  padding 40px 42px 40px 10px
  margin 10px auto
  border 0.5px solid #aaaaaa
  border-radius 20px

.apy-form-dashed
  width: 100%
  height 1px
  border-top dashed 1px #aaa
  margin-left 15px
  margin-bottom 20px

.apy-text-normal
  width 450px

.apy-input-normal
  width 360px

.apy-input-mini
  width 150px

.apy-tip
  font-size 18px
  color #999

.apy-upload-box
  width 180px
  border 1px dashed #ccc
  border-radius: 5px
  text-align: center
  font-size: 20px
  color #ccc
  &:hover
    color red
    border-color red

/* Button 相关 */
apy_btn_width = 100px
btn_interval = 50px
btn_box_width = 2*apy_btn_width + btn_interval
btn_box_margin = (apy_form_width - btn_box_width)/2+22px


.apy-btn-box
  width btn_box_width
  margin-top 40px
  margin-left btn_box_margin


.apy-btn-after
.apy-btn
  width apy_btn_width

.apy-btn-after
  margin-left btn_interval


.apy-pub-input-mini
  width 80px

.apy-pub-form-btn
  margin-left 220px