@import '../../assets/css/default'

// 注意事项的样式
.matter-container
  padding 24px 15px 20px 20px
  border-box()
  color: #909399
  .matter-title
    font-size 20px
    color #606266
    padding-bottom 6px
  .matter-each
    margin-bottom 6px
