line_color = red
line_width = 1px

table_width = 700px
label_width = 120px

.table-box
  padding-top: 20px
  padding-bottom: 20px
  width: table_width
  background-color: #fff

table 
  width table_width
  border-right: line_width solid line_color;
  border-bottom: line_width solid line_color;

td 
  border-left: line_width solid line_color;
  border-top: line_width solid line_color;


.t-title
  width: table_width - 18px
  font-size 20px
  margin-top 8px
  margin-bottom 8px


.t-label
  width label_width

.t-value
  width table_width - label_width - 18px
  text-align: left
  margin 8px