img_width = 112px
img_max_height = img_width * 1.4135
desc_width = 150px
box_padding = 15px
box_width = img_width + desc_width + 2*(box_padding) - 10px
box_height = img_max_height

@import "../../assets/css/default.styl"

.actp-each-box
  not-select()
  width box_width + box_padding
  height box_height + 2 * box_padding
  margin-right 20px
  margin-bottom 30px
  border-box()
  &:hover
    border solid 1px #ffffff
    &:before
      position absolute
      content: "点击查看"
      width box_width + box_padding
      height box_height + 2 * box_padding
      line-height: box_height+ 2 * box_padding
      text-align: center
      background: #606266aa
      border-radius: 10px
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
      color #fff
      font-size 18px
      z-index 100
  
  .actp--each-box
    width box_width
    height box_height
    margin-left box_padding
    margin-top box_padding

  .actp-img-box
    float left
    width: img_width + 12px
    .actp-img
      width img_width
      max-height img_max_height
      border-radius: 8px

  .actp-desc-box
    float left
    width desc_width
  
  .actp-desc-title
    $lh = 24px
    width desc_width - 4px
    height 3 * $lh
    font-size 18px
    line-height $lh
    color #303133
    word-wrap break-word
    overflow hidden

  .actp-desc-detail
    margin-top 30px
    font-size 10px
    .actp-desc--each
      height 18px
      line-height 18px
      overflow hidden
      color #a0a3a9
      span 
        font-size 14px
        color #606266

  .actp-desc-more
    height 64px
    font-size 14px
    margin-top 5px
    line-height 16px
    overflow hidden
