@import '../../assets/css/default'

.preview-cnt
  width: 900px
  background-color #fff
.preview-box
  margin-top 20px
  padding-left 20px
  padding-right 20px
  border-box()
  box-shadow: 1px 1px 2px #555

.preview-head
  font-size 1.5em
  line-height: 80px
  text-align: center
  // background-color red

.close-box
  width 32px
  height 32px
  position absolute
  top 44px
  right 49px
  border-radius(50%)
  border 2px solid #909399
  &:before,
  &:after
    position absolute
    content: ''
    width 22px
    height 3px
    background-color #909399
    top 15px
    right 4.6px
    border-radius(5px)
  
  &:before
    transition: all 250ms linear
    transform: rotate(45deg)

  &:after
    transition: all 250ms linear
    transform: rotate(-45deg)


.close-box:hover
  border-color: $color_theme
  &:before
    transition: all 250ms linear
    background-color $color_theme
    transform: rotate(135deg)
  &:after
    transition: all 250ms linear
    background-color $color_theme
    transform: rotate(45deg)

// 表格参数
$table_width = 750px
$line_width = 1px
$line_color = #606266

table 
  width $table_width
  border-right: $line_width solid $line_color;
  border-bottom: $line_width solid $line_color;
td
  // width: 100%
  border-left: $line_width solid $line_color;
  border-top: $line_width solid $line_color;


.preview-table-box
  width 100%
  .preview-table
    width $table_width
    margin 0 auto

.preview-td-title
  font-size 1.2em
  line-height 60px

.preview-td-label
  width 120px
  padding-top 8px
  padding-bottom: 8px
  color #606266
  background-color #f8f8f8
  font-weight: bold
  // overflow hidden
  word-wrap:break-word;

.preview-td-value
  width $table_width - 100px
  text-align: left
  padding 8px
  color #303133
  line-height 30px

.preview-td-label-special
  background-color #F2F6FC
