@import "../default"

// 以固定宽为900px设计
$widow_width = 900px

apy_form_width = 570px
apy_matter_width = 280px


// Apply Home

.apply-box
  width $widow_width
  display flex
  flex-wrap: wrap
  justify-content: space-between
  not-select()
  
  each-box()
    width 260px
    border-box()
    text-align: center
    font-size 1.1em
    margin-bottom 35px
    padding-top 25px
    padding-bottom 15px
    color #606266
    cursor pointer

  .each-box,
  .each-box-ph
    each-box()
    .each-img
      width 60px
      height 60px
      margin 0 auto
      overflow hidden
      line-height 60px
      font-size 2em
      padding 10px
      border-radius(50%)
      background: #909399;
      color #ffffff
      text-shadow:4px 2px 10px #303333;

    .each-title
      margin-top 10px
      line-height 40px
      transition-duration: 200ms

  .each-box:hover
    hover-box()
    .each-img
      font-size: 1.6em
      transition-property: font-size, background-color;
      transition-duration: 200ms
      background: #409EFF
    .each-title
      font-size 1.4em
      color #409EFF
      transition-property: font-size,color;
      transition-duration: 200ms
      
     
  .each-box-ph
    .each-img
      background: #C0C4CC;
    .each-title
      line-height 36px
      font-size 1.2em



// Apply form

.apy-header{
  not-select();
  width: $widow_width;
  text-align: center;
  font-size: 1.5rem;
  color: #202124;
  margin-bottom: 20px;
  // border-box();
}

.apy-container
  width $widow_width + 20px
  // margin-top 24px

.apy-form-container
  float left
  width apy_form_width
  padding 30px 10px 40px 10px
  border-box()
  margin-right 30px
  margin-bottom 75px


// 注意事项的样式
.apy-matter-container
  float left
  width apy_matter_width

/* Button 相关 */
apy_btn_width = 150px
btn_box_margin = (apy_form_width - apy_btn_width)/2


.apy-btn-submit
  margin-top 10px
  margin-left btn_box_margin
  border-color: $color_default
  width apy_btn_width
  color $color_theme

/* ----  */

// 预览框样式
.preview-container
  width 100%
  position absolute;
  top 0px
  left 0px
  bottom 0px
  background-color: #fff;
  z-index: 100

.preview-fade-enter-active, 
.preview-fade-leave-active {
  transition: opacity 150ms linear;
}

.preview-fade-enter,
.preview-fade-leave-to {
  opacity: 0;
}