// 定义在ActPost.styl
img_width = 120px
img_max_height = img_width * 1.4135 
desc_margin_left = 5px
desc_width = img_width / 10 * 14 - desc_margin_left
box_padding = 10px
box_margin_right = 20px
box_width = img_width + desc_width + 2*(box_padding) - 10px
box_height = img_max_height

.act-container
  width 78%
  min-width 3*box_width + 60px
  margin-left 25px
  .act-label
    font-size 22px
    margin-bottom 5px
    color #409EFF

.act-timeline
  width 200px
  margin 100px auto 0 20px


/**/

.act-title
  width: 360px
  font-size: 24px
  margin-top 20px
  margin-bottom 40px
  padding-left 10px
  padding-bottom 10px
  border-bottom solid 1px #678