.regs-header
  font-size 26px
  padding 15px
  color #fff
  background-color #409EFF


regs_width = 900px
moblie_width = 370px
editor_width = 400px

.regs
  width regs_width
  margin 0 auto
  .el-main
    margin 0
    padding 0


.regs-edit-main
  margin-left 50px

.regs-editor-box
  width editor_width
  margin-top 30px

.regs-edit-newbtn-box
  width 120px
  margin 20px auto

.regs-edit-item-label
  margin-bottom 5px
  span
    margin-right 250px
    font-size 20px


.regs-edit-item-label-fix1
  span
    margin-right 230px

.simulate-moblie-box
  margin-top 20px
  margin-left 80px


.simulate-moblie
  width 350px
  min-height 600px
  padding 18px 10px 24px 10px
  border solid 1px black
  border-radius 20px
  background-color #333333

.simulate-moblie-screen
  min-height 600px
  border solid 1px black
  border-radius 5px
  background-color #ffffff