

.regs-title
  margin-top 20px
  line-height: 30px
  min-height 30px
  font-size: 1.25rem
  text-align: center

.regs-each-item
  margin-top 25px
  margin-left 20px

.regs-input
  width 275px

.regs-label
  font-size: 1rem
  line-height: 25px

.regs-button
  width 200px

.regs-button-show
  width 150px
  margin-top 30px
  margin-left 80px